html,body {
    background: #ededed;
    font-family: Rubik, Arial, sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 1.125rem;
}
h1 {
    font-size: 1.75rem;
    font-weight: 300;
    margin: 0;
}
h2 {
    font-size: 1.75rem;
    font-weight: 300;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000000;
}
navbar {
    position: sticky;
    top: 0;
    padding: 36px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    font-size: 1.75rem;
}
navbar > a:first-child {
    padding-right: 24px;
}
.container {
    padding-left: 120px;
    padding-right: 24px;
    max-width: 550px;
}
.section {
    min-height: 90vh;
}
.btn {
    display: flex;
    align-items: center;
}
.btn > svg {
    padding-left: 6px;
    transition: padding-left 300ms ease-in-out;
}
.btn:hover > svg {
    padding-left: 12px;
    transition: padding-left 300ms ease-in-out;
}
footer {
    position: fixed;
    right: 36px;
    bottom: 36px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
}
footer > a {
    margin-right: 24px;
}
footer> a:last-child {
    margin-right: 0;
}