html,body {
    background: #ededed;
    font-family: Rubik, Arial, sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 1.125rem;
}
h1 {
    font-size: 1.75rem;
    font-weight: 300;
}
a {
    text-decoration: none;
}
container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 3;
    height: 100vh;
}
navbar {
    padding: 36px;
    display: flex;
    align-items: center;
    font-size: 1.75rem;
}
navbar > svg {
    padding-right: 24px;
}
.content {
    padding-left: 120px;
    padding-right: 24px;
    max-width: 550px;
}
footer {
    padding: 36px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
}
footer > a {
    margin-right: 24px;
}
footer> a:last-child {
    margin-right: 0;
}